<div class="container mx-auto p-6">
    <h1 class="text-4xl font-bold mb-4">
      <%= @article.title %>
    </h1>

    <p class="text-lg mb-6">
      <%= @article.body %>
    </p>

    <ul class="flex space-x-4 mb-8">
      <li>
        <%= link_to "Edit", edit_article_path(@article), class: "inline-block bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700" %>
      </li>
      <li>
        <%= link_to "Destroy", article_path(@article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "inline-block bg-red-500 text-white py-2 px-4 rounded hover:bg-red-700" %> 
      </li>
    </ul>

    <h2 class="text-2xl font-semibold mb-4">Comments</h2>
    <div class="mb-8">
      <%= render @article.comments %>
    </div>

    <h2 class="text-2xl font-semibold mb-4">Add a comment:</h2>
    <div class="bg-white shadow-md rounded p-6">
      <%= render 'comments/form' %>
    </div>
  </div>